.header {
  ul {
    display: flex;
    justify-content: space-between;
  }
  
  li {
    display: inline-block;
    margin-left: 1em;
    &:first-child {
      position: relative;
      margin: 0;
      flex-basis: 100%;
    }
  }
  a {
    text-decoration: none;
    color: DarkGray;
    font-weight: 600;
    transition: all 0.2s;
    border-bottom: 2px solid;
    &:hover {
      color:blue;
    }
  }
  
}

